# Fill in your CurseForge API key (https://console.curseforge.com) to enable
# CurseForge resources (worlds require this source).
BGUMCL_CURSEFORGE_API_KEY = ""

# Project custom dev toolbar
NEXT_PUBLIC_DEV_TOOLBAR = "true"
